// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT license.

#include <winres.h>
#include "VersionSymbols.h"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION CLEARSCRIPT_VERSION_COMMA_SEPARATED
 PRODUCTVERSION CLEARSCRIPT_VERSION_COMMA_SEPARATED
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "FileDescription", "ClearScript V8 Interface (32-bit)"
            VALUE "FileVersion", CLEARSCRIPT_VERSION_STRING
            VALUE "InternalName", "ClearScriptV8-32.dll"
            VALUE "LegalCopyright", "(c) Microsoft Corporation"
            VALUE "OriginalFilename", "ClearScriptV8-32.dll"
            VALUE "ProductName", "ClearScript"
            VALUE "ProductVersion", CLEARSCRIPT_VERSION_STRING
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0, 1200
    END
END
